## **ints** are immutiable!

In [1]:
age = 42
print(id(age))    # id
print(type(age))  # type
print(age)        # value

4463451776
<class 'int'>
42

In [4]:
age = 42
print(id(age))    # id
print(type(age))
print(age)

4463451776
<class 'int'>
42

In [3]:
age = 43
print(age)
print(id(age))

43
4463451808

## **lists** are mutiable

In [5]:
x = [1, 2, 3]
print(x)
print(id(x))

[1, 2, 3]
140218297356480

In [6]:
x.pop()
print(x)
print(id(x))

[1, 2]
140218297356480

what else is mutiable? **sets, byte arrays, dictionaries**

In [13]:
d = {1: 'foo', 2: 'bar'}

In [21]:
print(type(d))
a = 5+ 6

<class 'dict'>

In [11]:
d[13] = 'baz'

In [12]:
d

{1: 'foo', 2: 'bar', 13: 'baz'}

## what is immutiable and sure to surprise you someday?
## **string** are immutiable

In [27]:
# string
e = 'Hello, World!'
print(id(e))
e = 'Hello, Mars!'
print(id(e))

140218298605488
140218298643376

In [28]:
type(e)
print(id(e))

140218298643376

In [30]:
e2 = e + ' hi there'
print(id(e2))

140218298647776

In [44]:
l1 = [1, 2, 3]
if l1[0] == 1: print("yes")
a = l1
if l1[0] is a[0]: print("hi")
type(a)

yes
hi

list

so are tuples

In [45]:
g = (1, 3, 5)
print(id(g))
g = (42, )
print(id(g))

140218297877824
140218296688944