In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

In [3]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [4]:
df2 = pd.DataFrame( [
    ['a', 'b', 'c'],
    ['1', '2', '3']
    
])

In [5]:
df2

   0  1  2
0  a  b  c
1  1  2  3

In [6]:
df2.index

RangeIndex(start=0, stop=2, step=1)

In [7]:
df2.sort_values(0)

   0  1  2
1  1  2  3
0  a  b  c

In [8]:
df2.sort_index()

   0  1  2
0  a  b  c
1  1  2  3

In [25]:
df3 = pd.DataFrame( [
     ['1', '2', '3'],
    ['aa', 'bb', 'cc'],
    ['aa', 'bb', 'cc']
])

In [26]:
df3 = df3.sort_values(0)
df3

    0   1   2
0  11  21  31
1  aa  bb  cc
2  aa  bb  cc

In [29]:
pd.concat([df2, df3], axis=1, join="inner")

   0  1  2   0   1   2
0  a  b  c  11  21  31
1  1  2  3  aa  bb  cc

In [34]:
pd.merge(df2, df3, on=0, )

Empty DataFrame
Columns: [0, 1_x, 2_x, 1_y, 2_y]
Index: []